:root {
  --alpha: #2c3e50;
  --beta: #0a7ed2;
  --gamma: #1d2730;
  --delta: #ededed;
  --alert: #fd5959;
  --contrast: #e84188;
  --elements: #c4c4c4;
  --light: #fff;
  --skills: #e1e1e1;
  --bright: #1dfb15;
  --dark: #000;
}

@font-face {
  font-family: "GemunuLibre Medium";
  src: url("../fonts/GemunuLibre-Medium.5e616d056416.ttf");
}

@font-face {
  font-family: "GemunuLibre Bold";
  src: url("../fonts/GemunuLibre-Bold.babe2ed44df0.ttf");
}

@font-face {
  font-family: "GemunuLibre ExtraBold";
  src: url("../fonts/GemunuLibre-ExtraBold.6da1d7018185.ttf");
}

html {
  font-size: 1px;
  /*for using REM units!*/
}

body {
  font-family: "Open Sans";
  font-size: 16rem;
  line-height: 1.3;
  background-color: var(--light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "OpenSans ExtraBold";
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--elements);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--elements);
}

::-ms-input-placeholder {
  color: var(--elements);
}

::placeholder {
  color: var(--elements);
}

body {
  background-image: url("../images/restaurant.66d5c4063646.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80%;
  margin: 250px auto 0px auto;
  border: 5px solid var(--light);
  padding: 25px 0px;
  background-color: orange;
}

@media (min-width: 767px) {
  .login {
    max-width: 600px;
  }
}

.login a {
  color: var(--light);
  font-size: 16px;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80%;
  margin: 250px auto 0px auto;
  border: 5px solid var(--light);
  padding: 25px;
  background-color: orange;
  margin-top: 20px;
}

@media (min-width: 767px) {
  .sign-up {
    max-width: 700px;
    margin-top: 100px;
    padding: 25px;
  }
}

@media (min-width: 1200px) {
  .sign-up {
    max-width: 1000px;
    margin-top: 100px;
    padding: 25px 0px;
  }
}

.sign-up a {
  color: var(--light);
  font-size: 16px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80%;
  margin: 250px auto 0px auto;
  border: 5px solid var(--light);
  padding: 25px 0px;
  background-color: orange;
}

@media (min-width: 767px) {
  .home {
    max-width: 500px;
  }
}

.home a {
  color: var(--light);
  font-size: 16px;
}

.book-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80%;
  margin: 250px auto 0px auto;
  border: 5px solid var(--light);
  padding: 25px 0px;
  background-color: orange;
}

@media (min-width: 767px) {
  .book-restaurant {
    max-width: 600px;
  }
}

.book-restaurant a {
  color: var(--light);
  font-size: 16px;
}

.my-bookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80%;
  margin: 250px auto 0px auto;
  border: 5px solid var(--light);
  padding: 25px 0px;
  background-color: orange;
}

@media (min-width: 767px) {
  .my-bookings {
    max-width: 600px;
  }
}

.my-bookings table {
  border: none;
}

.my-bookings a {
  color: var(--light);
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */