// @font-face {
//   font-family: "Open Sans";
//   src: url(../../fonts/OpenSans-Regular.ttf);
// }

// @font-face {
//   font-family: "OpenSans ExtraBold";
//   src: url(../../fonts/OpenSans-ExtraBold.ttf);
// }

@font-face {
  font-family: "GemunuLibre Medium";
  src: url(../fonts/GemunuLibre-Medium.ttf);
}

@font-face {
  font-family: "GemunuLibre Bold";
  src: url(../fonts/GemunuLibre-Bold.ttf);
}

@font-face {
  font-family: "GemunuLibre ExtraBold";
  src: url(../fonts/GemunuLibre-ExtraBold.ttf);
}
